:root {
  --box-width: 160px;
  --box-height: calc(var(--box-pick-height) + var(--box-ban-height));
  --box-logo-height: calc(100% - calc(var(--box-ban-height) + var(--box-patch-height)));
  --box-timer-height: var(--box-ban-height);
  --box-patch-height: 50px;
  --box-team-width: calc(5 * var(--box-width));

  --box-ban-height: 59px;
  --box-ban-spacer: calc(var(--box-ban-height) / 2);
  --pick-name-height: 30px;

  --ban-image-crop: 6px;
  --summoner-spell-size: 40px;

  --champselect-margin-bot: 50px;

  --color-red: rgb(222,40,70);
  --color-blue: rgb(0,151,196);

  --border-between-color: darkgray;
  --border-width: 3px;
}

.Root {
  --box-pick-height: 250px;
  --pick-image-width: 33,33%;
  --pick-image-crop: -2px;
  --pick-image-position: -2px 4px;
}

.Root--2v2 {
  --box-pick-height: 375px !important;
  --pick-image-width: 50% !important;
  --pick-image-crop: 8px !important;
  --pick-image-position: -8px 8px !important;
}

.Root--3v3 {
  --box-pick-height: 260px !important;
  --pick-image-width: 100% !important;
  --pick-image-crop: 16px !important;
  --pick-image-position: -8px -8px !important;
}


